/* reusable stylings and animations */
:root {
  --col-bg: #363023;
  --col-bg-dark: #242017;

  --col-font-light: #fff0c6;
}

@keyframes hoverMouse {
  from {filter: brightness(1.0);}
  to {filter: brightness(1.3);}
}
@keyframes unhoverMouse {
  from {filter: brightness(1.3);}
  to {filter: brightness(1.0);}
}
@keyframes disappear {
  from {opacity: 1; position: relative; right: 0px;}
  to {opacity: 0; position: relative; right: -100vw;}
}
@keyframes appear {
  from {opacity: 0; position: relative; left: -100vw;}
  to {opacity: 1; position: relative; left: 0px;}
}
@keyframes appearBottom {
  from {opacity: 0; position: relative; bottom: -100vh;}
  to {opacity: 1; position: relative; bottom: 0px;}
}

/* animation classes */
.transitionOut {
  animation: disappear 0.5s both;
}
.transitionIn {
  animation: appear 0.5s both;
}
.transitionInBottom {
  animation: appearBottom 0.5s both;
}

/* wildcard */
* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: var(--col-font-light);
}

/* page configuration */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--col-bg);
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* applet configuration */
.welcome {
  font-size: 4.2vw;
  text-align: center;
  padding: 10px;
  border-bottom: solid;
  border-radius: 1vw;
  border-width: 0.5vw;
}

.button {
  animation: unhoverMouse 0.25s both;
  font-size: 2vw;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background-color: var(--col-font-light);
  color: var(--col-bg);
  border-radius: 1vw;
  border-width: 0.5vw;
  border-style: solid;
  border-color: var(--col-bg-dark);
}

.button:hover {
  animation: hoverMouse 0.25s both;
  cursor: pointer;
}

/* footer configuration */
.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}